@import 'yoda-core-components/lib/assets/styles/colors/colors.css';
@import 'yoda-core-components/lib/assets/styles/fonts/fonts.css';

.diffWrapper{
    font-size: 14px;
    font-family: var(--open-sans);
    margin-top: 5px;

    & .errorText{
        font-size: 12px;
        font-weight: bold;
        font-family: var(--open-sans);
        color: var(--color-error-red);
        display: flex;
        align-items: center;
    }

    & .compare{
        font-family: var(--open-sans);
    }

    & .compareNow{
        color: var(--color-seconday-turquoise);
    }
}