.productCardFinal{
    &.oneRecordBanner{
        padding: 0px;
        display: inherit;
        width: 100%;

         & .imgBlock {
            & .imageDetails {
                height: auto;
            }
        }

        & .title {
            color: var(--color-gray-5);
            font-size: 0.87rem;
            line-height: 1.43;
            height: 40px;
        }

        & .priceWrapperClass{
            white-space: normal;
            line-height: 20px;
            margin: 5px 0;

            & .priceClass{
                font-size: 1.25rem;
            }
        }

        & .list{
             & .imgBlock {
                display: flex;
                width: 201px;
                justify-content: center;
                align-items: flex-start;
                flex-shrink: 0;
                 & .imageDetails {
                    flex-direction: column;
                    position: relative;
                }
             }

             & .detailsWrapper{
                width: auto;
                flex-grow: 1;
             }

             @media (--viewport-sm) {
                & .imgBlock {
                    width: 30%;
                    display: block;
                    & .imageDetails{
                        margin-top: 8px;
                        & .extendedSize {
                            position: relative;
                            margin-top: 15px;
                        }
                    }
                }

                & .detailsWrapper {
                    width: 70%;
                }
             }
        }
   }
}