registry = "https://nexus.infra.dp-dev.jcpcloud2.net/content/groups/npm/"

init.author.name = Egor Voronov
init.author.email = evoronov@jcp.com

email=evoronov@jcp.com
always-auth=true
_auth = eW9kYTp5b2Rh
cafile=trustedcerts
