@import 'yoda-core-components/lib/assets/styles/base/base.css';
@import 'yoda-core-components/lib/assets/styles/grid/grid.css';
@import 'yoda-core-components/lib/assets/styles/fonts/fonts.css';
@import 'yoda-core-components/lib/assets/styles/colors/colors.css';
@import 'yoda-core-components/lib/assets/styles/settings/breakpoints.css';
/* Header Primary */

.promotionalBanner {
    text-align: center;
    min-height: 24px;
    width: 100%;
    background: var(--color-gray-7);
    will-change: transform;
    
    & .promotionalBannerContent {
        position: absolute;
        color: var(--color-white);
        font: normal 14px/24px var(--open-sans);
        padding: 0px 20px 0px 20px;
        width: 100%;
        @media (--viewport-lg-plus) {
            font-size: 16px;
        }
        & .promotionalBannerLink {
            color: var(--color-white);
            font: bold 14px/24px var(--open-sans);
            text-decoration: underline;
            vertical-align: top;
            display: inline-block;   
            margin-left: 3px;   
            cursor: pointer;
        }
        & .promotext {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            max-width: 60%;
            color: var(--color-white);
            font-family: var(--open-sans);
            font-size: 14px;
            line-height: 1.71;
            text-align: center;         
        }
        @media(--viewport-xl), (--viewport-lg-plus)  {
            margin-top: 2px;
        }
    }
    & .sitePromoAnimation {
        opacity: 0;
        animation-iteration-count: infinite;
        animation-direction: linear;
    }
    @media(--viewport-xl), (--viewport-lg-plus)  {
        min-height: 29px;
    }
}

.promotionalBanner:empty {
    display: none;
}


/* one item */
.sitePromoAnimation:first-child:nth-last-child(1) {
   animation-name: fadeInOut1;
   animation-duration: 3.3s;
}

/* two items */
.sitePromoAnimation:first-child:nth-last-child(2),
.sitePromoAnimation:first-child:nth-last-child(2) ~ .sitePromoAnimation {
   animation-name: fadeInOut2;
   animation-duration: 6.6s; 
}

/* three items */
.sitePromoAnimation:first-child:nth-last-child(3),
.sitePromoAnimation:first-child:nth-last-child(3) ~ .sitePromoAnimation {
   animation-name: fadeInOut3;  
   animation-duration: 9.9s;    
}

/* four items */
.sitePromoAnimation:first-child:nth-last-child(4),
.sitePromoAnimation:first-child:nth-last-child(4) ~ .sitePromoAnimation {
   animation-name: fadeInOut4;
   animation-duration: 13.2s;     
}

/* five items */
.sitePromoAnimation:first-child:nth-last-child(5),
.sitePromoAnimation:first-child:nth-last-child(5) ~ .sitePromoAnimation {
   animation-name: fadeInOut5;
   animation-duration: 16.5s;     
}

/* six items */
.sitePromoAnimation:first-child:nth-last-child(6),
.sitePromoAnimation:first-child:nth-last-child(6) ~ .sitePromoAnimation {
   animation-name: fadeInOut6; 
   animation-duration: 19.8s;      
}

/* seven items */
.sitePromoAnimation:first-child:nth-last-child(7),
.sitePromoAnimation:first-child:nth-last-child(7) ~ .sitePromoAnimation {
   animation-duration: 23.1s;
   animation-name: fadeInOut7;      
}

/* eight items */
.sitePromoAnimation:first-child:nth-last-child(8),
.sitePromoAnimation:first-child:nth-last-child(8) ~ .sitePromoAnimation {
   animation-duration: 26.4s;
   animation-name: fadeInOut8;       
}

/* nine items */
.sitePromoAnimation:first-child:nth-last-child(9),
.sitePromoAnimation:first-child:nth-last-child(9) ~ .sitePromoAnimation {
   animation-duration: 29.7s;
   animation-name: fadeInOut9;
}

/* ten items */
.sitePromoAnimation:first-child:nth-last-child(10),
.sitePromoAnimation:first-child:nth-last-child(10) ~ .sitePromoAnimation {
   animation-duration: 33s;
   animation-name: fadeInOut10;    
}

.sitePromoAnimation:nth-child(1) { animation-delay: 0s; }
.sitePromoAnimation:nth-child(2) { animation-delay: 3.3s; }
.sitePromoAnimation:nth-child(3) { animation-delay: 6.6s; }
.sitePromoAnimation:nth-child(4) { animation-delay: 9.9s; }
.sitePromoAnimation:nth-child(5) { animation-delay: 13.2s; }
.sitePromoAnimation:nth-child(6) { animation-delay: 16.5s; }
.sitePromoAnimation:nth-child(7) { animation-delay: 19.8s; }
.sitePromoAnimation:nth-child(8) { animation-delay: 23.1s; }
.sitePromoAnimation:nth-child(9) { animation-delay: 26.4s; }
.sitePromoAnimation:nth-child(10) { animation-delay: 29.7s; }

@keyframes fadeInOut1 { 0% { opacity: 0; z-index: -1; } 20.588235294117645% { opacity: 1; z-index: 1; } 79.41176470588235% { opacity: 1; z-index: 1;} 100% { opacity: 0; z-index: -1;} }
@keyframes fadeInOut2 { 0% { opacity: 0; z-index: -1; } 10.294117647058822% { opacity: 1; z-index: 1;} 39.705882352941174% { opacity: 1; z-index: 1;} 50% { opacity: 0; z-index: -1;} }
@keyframes fadeInOut3 { 0% { opacity: 0; z-index: -1; } 6.862745098039216% { opacity: 1; z-index: 1;} 26.47058823529412% { opacity: 1; z-index: 1;} 33.333333333333336% { opacity: 0; z-index: -1;} }
@keyframes fadeInOut4 { 0% { opacity: 0; z-index: -1; } 5.147058823529411% { opacity: 1; z-index: 1;} 19.852941176470587% { opacity: 1; z-index: 1;} 25% { opacity: 0; z-index: -1;} }
@keyframes fadeInOut5 { 0% { opacity: 0; z-index: -1; } 4.117647058823529% { opacity: 1; z-index: 1;} 15.882352941176471% { opacity: 1; z-index: 1;} 20% { opacity: 0; z-index: -1;} }
@keyframes fadeInOut6 { 0% { opacity: 0; z-index: -1; } 3.431372549019608% { opacity: 1; z-index: 1;} 13.23529411764706% { opacity: 1; z-index: 1;} 16.666666666666668% { opacity: 0; z-index: -1;} }
@keyframes fadeInOut7 { 0% { opacity: 0; z-index: -1; } 2.9411764705882355% { opacity: 1; z-index: 1;} 11.344537815126051% { opacity: 1; z-index: 1;} 14.285714285714286% { opacity: 0; z-index: -1;} }
@keyframes fadeInOut8 { 0% { opacity: 0; z-index: -1; } 2.083333333333333% { opacity: 1; z-index: 1;} 10.416666666666664% { opacity: 1; z-index: 1;} 12.5% { opacity: 0; z-index: -1;} }
@keyframes fadeInOut9 { 0% { opacity: 0; z-index: -1; } 2.287581699346405% { opacity: 1; z-index: 1;} 8.823529411764707% { opacity: 1; z-index: 1;} 11.11111111111111% { opacity: 0; z-index: -1;} }
@keyframes fadeInOut10 { 0% { opacity: 0; z-index: -1; } 2.0588235294117645% { opacity: 1; z-index: 1;} 7.9411764705882355% { opacity: 1; z-index: 1;} 10% { opacity: 0; z-index: -1;} }