@import 'yoda-core-components/lib/assets/styles/colors/colors.css';
@import 'yoda-core-components/lib/assets/styles/fonts/fonts.css';

.productCard{
    &.gallery{
        display: flex; /* As the lower iPad version is fixed with the -webkit- we can make this as flex or inherit is fine */
        display: -webkit-flex; /* For lower iPad Version */
        width: 100%;
        padding: 0px;

         & .imgBlock {
            & .imageDetails {
                height: auto;
            }
        }

        & .saveForLaterContainer {
            position: absolute;
            right: 0px;
            top: 0px;
            display: inline-block;
        }

        & .grid {
            @media (--viewport-xl) {
                & .imgBlock {
                    min-height: 255px;
                    min-width: 245px;
                }

            }
            @media (--viewport-lg) {
                & .imgBlock {
                    min-height: 260px;
                    min-width: 245px;
                }
            }

        }

        & .list{
             & .imgBlock {
                display: flex;
                display: -webkit-flex; /* For lower iPad Version */
                width: 201px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                 & .imageDetails {
                    flex-direction: column;
                    position: relative;
                }
             }

             & .detailsWrapper{
                width: auto;
                flex-grow: 1;
             }

             @media (--viewport-sm) {
                & .saveForLaterContainer {
                    position: relative;
                    display: inline-block;
                }
                & .imgBlock {
                    width: 30%;
                    display: block;
                    & .imageDetails{
                        margin-top: 8px;
                    }
                }

                & .detailsWrapper {
                    width: 70%;
                }
             }

             @media (--viewport-xl) {
                & .imgBlock {
                    width: 25%;
                    min-width: 245px;
                }
    
                & .productdetailedBlock {
                    width: 40%;
                    min-width: 245px;
                }
            }
        
            @media (--viewport-lg) {
                & .imgBlock {
                    width: 25%;
                    min-width: 245px;
                }
    
                & .productdetailedBlock {
                    width: 40%;
                    min-width: 245px;
                }
            }
        }
    }
}
