@import 'yoda-core-components/lib/assets/styles/colors/colors.css';
@import 'yoda-core-components/lib/assets/styles/settings/util.css';
@import "yoda-core-components/lib/assets/styles/settings/breakpoints.css";
@import 'yoda-core-components/lib/assets/styles/fonts/fonts.css';

.helpSection {
    color: var(--color-white);
    background-color: var(--color-gray-6);
    padding: 7px;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    letter-spacing: .03125rem;

    & .helpSectionTitle {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        font-weight: bold;
        margin-right: 3%;

        @media (--viewport-classic-sm) {
            font-size: 14px;
        }
    }

    & .helpSectionList {
        display: inline-block;
        vertical-align: middle;
        width: 62%;

        @media (--viewport-md-plus) {
            min-width: 510px;
        }

        @media (--viewport-lg-plus) {
            width: 600px;
        }
    }

    & .helpListItem {
        font-size: 12px;

        & .helpListBlock{
            display: table;
            text-align: center;
            width: 100%;
        }

        @media (--viewport-classic-sm) {
            font-size: 14px;
        }
    }

    & .helpLink {
        color: var(--color-white);
        display: block;
    }
    & .inactive {
        pointer-events: none;
        cursor: default;
    }

    & .helpIcon {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        color: #fff;
    }
    & .helpIcon svg{
        fill: fff;
    }

    & .helpDescription {
        padding: 5px 5px 5px 20px;
        font-size:12px;
        display: inline-block;
        width: 80%;
        font-family: var(--open-sans);
        vertical-align: middle;

        @media (--viewport-classic-sm) {
            width: auto;
            font-size: 12px;
            line-height: 2;
        }

        @media (--viewport-md-plus) {
            text-align: left;
        }

        & .helpDescStatus {
            display: inline-block;
        }
    }

    @media (--viewport-classic-sm) {
        text-align: left;
        padding: 16px;

        & .helpSectionTitle {
            display: block;
            width: 100%;
            margin-right: 0;
        }

        & .helpSectionList {
            width: 100%;
            display: block;

            & .helpListBody {
                overflow: hidden;
                min-height: 118px;

                & .helpListItem {
                    width: 100%;
                    display: block;
                    margin-left: 0;

                    & .helpLink {
                        margin: 10px 0; 
                    }
                }
            }
        }
    }
}

.helpIconColor {
    fill: var(--color-white);
}
