@import 'yoda-core-components/lib/assets/styles/grid/grid.css';
@import 'yoda-core-components/lib/assets/styles/settings/breakpoints.css';
@import 'yoda-core-components/lib/assets/styles/settings/util.css';
@import 'yoda-core-components/lib/assets/styles/colors/colors.css';
@import 'yoda-core-components/lib/assets/styles/fonts/fonts.css';

@import './themes/findAStorePage.css';
@import './themes/galleryStore.css';

.storesWrap {
	font-family: var(--main-font);

    & .useMyLocationBtn {
		width: 100%;
		min-width: 215px;
		vertical-align: bottom;

		@media (--viewport-sm) {
			display: block;
		}

		& .locationBtn{
			width: 100%;
			font-weight: bold;
			font-size: 16px;
            font-style: normal;
		}
	}

	& .availableMsg {
		padding: 10px 0;

		& .toggleForm{
			padding-right: 4px;
		}
	}

    & .separator{
		width: 100%;
		vertical-align: bottom;
		min-width: 60px;
		text-align: center;
		padding: 10px 0;

		@media (--viewport-sm) {
			display: block;
		}

		& .seperatorTextBlock {
			position: relative;
			margin:0 5px;

			&:before,
			&:after {
				content: '';
				border-top: 1px solid var(--color-gray-3);
				position: absolute;
				top: 50%;
				height: 1px;
				width: calc(50% - 15px); /* Calc used to avoid the BG Cofusion for the seperator Text */
			}

			&:before {
				left: 0;
			}

			&:after {
				right: 0;
			}

			& .seperatorText {
				color: var(--color-gray-5);
				font: bold 14px var(--open-sans);
				padding: 0 5px;
				z-index: 1;
				position: relative;
			}
		}
	}

    & .findSearchBlk {
			font-size: 14px;
			font-weight: bold;
			font-family: var(--open-sans);

			& .searchText {
				display: inline-block;
				float: left;
				padding: 0;
                font-style: normal;

				& .searchTextBoxField {
					box-shadow: 0 1px 2px 0 rgba(83, 95, 107, 0.5);
  					border: solid 1px var(--color-gray-3);
					border-radius: 2px 0 0 2px;
					background: var(--color-white);

					& .locationFinderTextBox {
						padding: 16px;
						width: 100%;
						height: 49px;
					}
				}
			}

			& .selectMiles {
				display: inline-block;
				padding: 0;
                font-style: normal;

				& .milesSelectField {
					background: var(--color-white);
					border-color: var(--color-gray-3);
					border-style: solid;
					box-shadow: 0 1px 2px 0 rgba(83, 95, 107, 0.5);
					position: relative;
					border-width: 1px 0 1px;

					/* For View Purpose added these styles once the Select Component Done have to remove */
					&:before {
						content: '';
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-top: 5px solid var(--color-light-black);
						position: absolute;
						right: 35px;
						top: 45%;
						transform: translateX(50%);
                        pointer-events: none;
					}
					/* View Purpose Style Ends */

					& .milesSelect {
						padding: 16px;
                        width: 100%;
						height:49px;
                        -moz-appearance: none;
					}
				}
			}

			& .searchStoreBtnBlock {
				padding: 0;

				& .searchStoreBtn {
					padding: 13px;
					min-width: 50px;
					width: 100%;
					margin-top: 21px;

					& .locationFinderBtnText {
						margin-left: 5px;
					}

					@media (--viewport-lg) {
						padding: 13px 0;
					}

					@media (--viewport-xl) {
						padding: 13px 0;
					}
				}

				& .searchIcon {
					stroke: var(--color-white);
					stroke-width: 12px;

					@media (--viewport-xl) {
						width: 18px;
					}
				}
			}
    }

	& .hide {
		display: none;
	}

}
/* need to write it in common code */
select::-ms-expand{
  display:none;
}