@import 'yoda-core-components/lib/assets/styles/fonts/fonts.css';
@import 'yoda-core-components/lib/assets/styles/settings/breakpoints.css';
@import 'yoda-core-components/lib/assets/styles/colors/colors.css';

.bulletedCopyBlock {
    display: none;

    & .productFeaturesTitle {
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.4px;
        text-align: left;
        color: var(--color-gray-7);
    }

    & .bulletedCopyMain {
        list-style: disc;
        padding-left: 25px;
        font-family: var(--open-sans);
        font-size: 14px;
        line-height: 1.71;
        text-align: left;
        color: var(--color-gray-7);

         @media (--viewport-xl) {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    &.list {
        @media (--viewport-lg-plus) {
            display: block;
            width: 60%;
            padding-left: 10px;
        }

        & .learnMore {
            font-family: var(--open-sans);
            font-size: 14px;
            line-height: 1.71;
            text-align: left;
            color: var(--color-seconday-turquoise);
            text-decoration: underline;
        }
    }
}