@import 'yoda-core-components/lib/assets/styles/grid/grid.css';
@import 'yoda-core-components/lib/assets/styles/colors/colors.css';
@import '../../../../assets/styles/fonts/fonts.css';

@import './themes/findAStorePage.css';
@import './themes/GalleryStore.css';

.SelectStoreContainer{
    padding: 16px;
    @media (--viewport-sm) {
        padding: 16px 8px;
    }

    & .redButton {
        height: 32px;
        line-height: 0.3;
        display: block;
        font-weight: bold;
        min-width: 110px;
        float: right;
    }

    & .commonTextStyles {
        height: 24px;
        font-size: 16px;
        font-family: var(--main-secondary-font);
        line-height: 1.5;
    }

    & .title {
        font-family: var(--main-primary-font);
        font-size: 20px;
        font-weight: bold;
        line-height: 1.2;
        color: var(--color-gray-7);
    }

    & .distance {
        font-size: 18px;
        line-height: 1.33;
        color: var(--color-gray-5);
        padding-left: 5px;
    }

    & .address {
        color: var(--color-gray-7);
        line-height: 1.5;
    }

    & .urlStyle {
        font-size: 14px;
        line-height: 1.71;
        color: var(--color-seconday-turquoise);
        text-decoration: underline;
    }

    & .separator {
        padding: 0px 5px;
        font-size: 14px;
    }

    & .phoneNumber {
        font-size: 14px;
        line-height: 1.71;
        color: var(--color-gray-7);
    }

    & .directionDetails {
        margin: 5px 0 10px;
    }

    & .storeHoursAndSelectButtonContainer{

        & .storeHoursContainer{
            width: 55%;
            display: inline-block;

            & .storeTime {
                font-size: 14px;
                line-height: 1.71;
                color: var(--color-gray-5);
                display: inline-block;
            }
        }

        & .selectContainer {
            font-size: 14px;
            font-family: var(--main-secondary-font);
            float: right;
            padding: 5px 8px 0 0;
            width: 45%;

            & .pickupText{
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                line-height: 1.71;
                text-align: center;
                color: #16181b;
                display: block;
                clear: both;
                float: right;
                width: 110px;

                & .pickupTextFree {
                    color: var(--color-success-green);
                }

                & .pickupTextToday {
                    display: block;
                }
            }
        }
    }
    & .selectUnavailableContainer {
        padding-bottom: 15px;
    }
    & .selectUnavailable {
        font-family: var(--main-secondary-font);
        float: right;
        font-weight: bold;
        font-size: 16px;
        color: var(--color-gray-5);
        padding-right: 16px;
    }



    & .availableTitle {
        font-weight: bold;
        color: var(--color-gray-7);
    }
    & .showDetailsContainer{
        padding-top: 15px;
    }

    & .showDetails {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.71;
        color: var(--color-seconday-turquoise);
        font-family: var(--main-secondary-font);
    }

    & .servicesContainer {
        margin-top: 20px;
    }

    & .servicesTitle {
        font-weight: bold;
        color: var(--color-light-black);
    }

    & .servicesContent {
        line-height: 1.71;
        color: var(--color-gray-5);
        font-size: 14px;
    }

    &.borderBottom {
        border-bottom: 1px solid var( --color-gray-3);
    }
}

.hide {
    visibility: hidden;
}
.storeServiceListItemsText {
    font: normal 14px/24px var(--main-secondary-font);
}
.scheduleAppoitment {
    color: var(--color-seconday-turquoise);
    text-decoration: underline;
    padding: 0;
    margin-left: 5px;
}