@import 'yoda-core-components/lib/assets/styles/grid/grid.css';
@import 'yoda-core-components/lib/assets/styles/settings/breakpoints.css';

.productCardFinal{
    &.cartridge{
        & .card {
            height: 100%;
            border: none;

            & .detailsWrapper {
                padding: 2px 4px 2px 8px;
            }

            & .title {
                line-height: 16px;
                height: 32px;
                margin: 0;
            }

            & .prodCardStarRating {
                font-size: 11px;
            }

            & .cardSummaryLabel {
                margin: 3px 0;
            }
            
            & .reviewCount {
                font-size: 11px;
            }

            & .customPriceMarketingLabel {
                display: none;
            }

            & .imgBlock { 
                border: 0;
            }

            @media (--viewport-md) {
                & .imgBlock {
                    min-height: 144px;

                    & .imageDetails {
                        height: 144px;
                    }
                }
            }

            @media (--viewport-lg-plus) {
                & .imgBlock {
                    min-height: 160px;

                    & .imageDetails {
                        height: 160px;
                    }
                }
            }

            @media (--viewport-sm) {
                & .imgBlock {
                    min-height: 114px;

                    & .imageDetails {
                        height: 114px;
                    }
                }
            }
       }

        & .pricingWrapper{
            min-height: 48px;
            padding-top: 0;

            & .cardPriceLabel {
                font-size: 12px;
                line-height: 14px;
            }

            & [class*="mapPrice"] {
                font-size: 12px;
            }

            & .priceWrapperClass{
                white-space: normal;
                line-height: 16px;
                margin: 0;
                height: 34px;
                overflow: hidden;

                & .sale {
                    font-size: 12px;
                }

                & .priceClass{
                    font-size: 13px;
                    display: block;
                }
            }

            .salesummary {
                white-space: nowrap;
            }
       }

        & .imgBlock {

            & .imageClass {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
                padding: 0;
                width: auto;
                height: auto;
            }
        }
    }
}