@import 'yoda-core-components/lib/assets/styles/colors/colors.css';

.requirementsWrapper {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--color-white);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    z-index: 100;
    position: absolute;
    top: 84px;
    right: 0px;

    & .errorAlignment {
          margin-left: 16px;
      }

    & .requirementsList {
          padding: 10px 0 20px 16px;

        & .requirementLabel {
            font-weight: bold;
          }
      }
}
