@import 'yoda-core-components/lib/assets/styles/colors/colors.css';

.passwordMeter {
    float: right;

    & .strengthLabel {
        color: var(--color-gray-7);
        font-size: 12px;
        margin-right: 9px;
    }

    &.goodPwd {
        & .firstBar {
            background-color: var(--color-lime);
        }

        & .secondBar,
        & .thirdBar {
            background-color: var(--color-gray-2);
        }
    }

    &.strongPwd {
        & .firstBar,
        & .secondBar {
            background-color: var(--color-olive);
        }

        & .thirdBar {
            background-color: var(--color-gray-2);
        }
    }

    &.veryStrongPwd {
        & .firstBar,
        & .secondBar,
        & .thirdBar {
            background-color: var(--color-success-green);
        }
    }

    & .passwordBar {
        width: 24px;
        height: 6px;
        display: inline-block;
        margin-right: 4px;

        &.thirdBar {
            margin-right: 0;
        }
    }
}

